@charset "UTF-8";
/* =======================================================
   Stylesheet created by PHP Web Stat
   PHP Web Stat v20.0 (https://www.php-web-statistik.de)
   File-Release-Date: 2023-05-13
   Copyright 2023 PHP Web Stat
======================================================= */

/*! bootstrap components */
/*! module positive bar */
.progress-bar-module {
  background: rgba(29,101,144, .7); /* basic #1d6590 */
  background-image: linear-gradient(180deg, rgba(255,255,255,.3) 0%, rgba(255,255,255,.1) 50%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.015) 100%);
}
.panel {
  color: #666;
  border-color: rgba(0,0,0, .2);
}
.panel-heading {
  color: #000;
  border-color: rgba(0,0,0, .1);
  background-color: rgba(0,0,0, .05);
}
.panel-footer {
  background-color: rgba(0,0,0, .02);
}
/*! END bootstrap components */

/*! php web stat */
/*! login & autologout */
#login, #autologout {
  border: 1px solid rgba(0,0,0, .2);
}
#autologout .info {
  border: 1px solid rgba(115,91,60, .2);
  color: #735b14;
  background-color: rgba(255,243,205, .5);
}
#login .data-input, #autologout .data-input {
  border: 1px solid rgba(0,0,0, .2);
}

/*! refresh & session box  */
#refresh .header, .session_change .header {
  color: #fff;
  background-color: rgba(0,0,0, .5);
}

/* page header, side, main & footer */
#header-m, #header-sys {
  color: #666;
  box-shadow: 0 0 2px rgba(0,0,0, .8);
}
#header-m a, #header-sys a {
  color: #666;
}
#header-m a:hover, #header-sys a:hover {
  color: #000;
}
#header-m .btn, #main-nav .btn {
  color: #fff;
  background-color: #1a73e8;
}
#header-m .btn:hover, #main-nav .btn:hover {
  background-color: #1B66C9
}
#sidenav-navlink li a {
  color: #666;
}
#sidenav-navlink li a:hover {
  color: #000;
}
#sidenav-navlink li.active a {
  color: #999;
}
#sidenav-footer hr {
  border-top: 1px solid rgba(0,0,0, .2);
  color: #666;
}
#main-nav {
  box-shadow: none;
}
#main-nav, #archive-nav {
  color: #666;
}
#main-nav a, #archive-nav a {
  color: #666;
}
#main-nav a:hover, #archive-nav a:hover {
  color: #000;
}
#main-wrapper, #archive-main-wrapper {
  background-color: transparent;
}
#main-footer {
  border: 1px solid rgba(0,0,0, .2);
  color: #666;
}
#footer-m, #footer-sys {
  color: #666;
  box-shadow: 0 0 2px rgba(0,0,0, .8);
}
#footer-m a, #footer-sys a {
  color: #666;
}
#footer-m a:hover, #footer-sys a:hover {
  color: #000;
}
.status-admin {
  color: #1d6590;
}
.status-client {
  color: #666666;
}
.status-user {
  color: #c2c2c2;
}

/*! archive & sysinfo header */
.archive-save {
  color: #666;
}
a.archive-save:hover,
a.archive-save:focus {
  color: #000;
}

/*! stat module */
.module, .sys-module {
  border: 1px solid rgba(0,0,0, .2);
}
.module-table th, .sys-table th {
  border-bottom: 1px solid rgba(0,0,0, .2);
}
.display_max_style {
  color: #c40000;
  background-color: rgba(0,0,0, .05);
}
.display_weekday_6_style {
  color: #dd8888;
}
.display_weekday_7_style {
  color: #cc2222;
}

/*! sysinfo & setup module */
.sys-info {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
.sys-result {
  border-bottom: 1px solid #ddd;
  background-color: #f0f0f0;
}

a.referer:link, a.referer:visited, a.referer:active {
  color: #0D638A;
}

/*! plugin styles */
div.security-info         {color:#8f8f8f;}
div.security-info .title  {color:#fff; background-color:#8f8f8f;}
div.security-info .reason {color:#333;}

table.plugin th.a {color: #666; background-color: #ededed; border-color: #b5b5b5;}
table.plugin th.b {color: #fff; background-color: #828282; border-color: #ffffff;}
table.plugin td.a {background-color: #ffffff; border-color: #b8b8b8;}
table.plugin tr:hover td.a {background-color: #fafafa;}
table.plugin td.b {background-color: #ffffff; border-color: #b8b8b8;}
table.plugin tr:hover td.b {background-color: #f5f5f5;}
table.plugin td.c {background-color: #ffffff; border-color: #b8b8b8;}
table.plugin td.f {background-color: #ffffff; border-color: #b8b8b8;}
table.plugin td.h, table.plugin th.h     {background-color: #ffffff; border-color: #b8b8b8;}
table.plugin td.h-a, table.plugin th.h-a {background-color: #fafafa; border-color: #8a8a8a;}
table.plugin td.h-b, table.plugin th.h-b {background-color: #f5f5f5; border-color: #b8b8b8;}
/*! END php web stat */