@charset "UTF-8";
/* =======================================================
   Stylesheet created by PHP Web Stat
   PHP Web Stat v20.0 (https://www.php-web-statistik.de)
   File-Release-Date: 2023-06-25
   Copyright 2023 PHP Web Stat
======================================================= */
@import url('./normalize.css');
@import url('./general.css');
@import url('./fonts.css');
/*----------------------------------------------------- */

/* START bootstrap components */
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); }

.form-control::placeholder {
  color: #999;
  opacity: 1; }

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1; }

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed; }

textarea.form-control {
  height: auto; }

.form-group {
  margin-bottom: 5px; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px; }

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-block {
  display: block;
  width: 100%; }

.fade {
  opacity: 0;
  transition: opacity .2s linear; }

.fade.in {
  opacity: 1; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175); }

.dropdown-menu.pull-right {
  right: 0;
  left: auto; }

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5; }

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0; }

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777; }

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none; }

.open > .dropdown-menu {
  display: block; }

.open > a {
  outline: 0; }

.dropdown-menu-right {
  right: 0;
  left: auto; }

.dropdown-menu-left {
  right: auto;
  left: 0; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990; }

.scrollable-menu {
  height: auto;
  max-height: 212px;
  overflow-x: hidden; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left; }

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
  z-index: 2; }

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px; }

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0; }

.btn-group > .btn:first-child {
  margin-left: 0; }

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.btn-group > .btn-group {
  float: left; }

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0; }

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0; }

.btn-group > .btn + .dropdown-toggle {
  padding-right: 8px;
  padding-left: 8px; }

.btn-group > .btn-lg + .dropdown-toggle {
  padding-right: 12px;
  padding-left: 12px; }

.btn-group.open .dropdown-toggle {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); }

.btn-group.open .dropdown-toggle.btn-link {
  box-shadow: none; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate; }

.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0; }

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell; }

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0; }

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px; }

.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px; }

.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px; }

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0; }

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group-addon:first-child {
  border-right: 0; }

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.input-group-addon:last-child {
  border-left: 0; }

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap; }

.input-group-btn > .btn {
  position: relative; }

.input-group-btn > .btn + .btn {
  margin-left: -1px; }

.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2; }

.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px; }

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: -1px; }

progress {
  display: inline-block;
  vertical-align: baseline; }

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3); }

.progress-module {
  height: 10px;
  margin-bottom: 0;
  background-color: #f0f0f0;
  border-radius: 2px; }

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  transition: width .6s ease; }

.progress-bar-module {
  border-left: 1px solid #bcbdbc;
  border-right: 1px solid #bcbdbc;
  height: 8px;
  font-size: 10px;
  line-height: 10px;
  margin-top: 1px;
  background: rgba(29,101,144, .7); } /* safety basic #1d6590 */

.progress-bar-module-plus {
  background-color: #008800; }

.progress-bar-module-minus {
  background-color: #8a0d0f; }

.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px; }

.progress.active .progress-bar,
.progress-bar.active {
  animation: progress-bar-stripes 2s linear infinite; }

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05); }

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit; }

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit; }

.panel-body {
  padding: 15px; }

.panel-footer {
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.close {
  float: right;
  font-size: 21px;
  font-weight: bolder;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .3; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .6; }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0; }

.modal-open {
  overflow: hidden; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0; }

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(0, -25%); }

.modal.in .modal-dialog {
  transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5); }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }

.modal-backdrop.fade {
  opacity: 0; }

.modal-backdrop.in {
  opacity: .5; }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857143; }

.modal-body {
  position: relative;
  padding: 15px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px; }

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px; }

.modal-footer .btn-block + .btn-block {
  margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  opacity: 0;
  line-break: auto; }

.tooltip.in {
  opacity: .9; }

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 4px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: left;
  background-color: #000;
  border-radius: 4px; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000; }
/* END bootstrap components */

/* START php web stat */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030; }

.overlay_black {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1003;
  opacity: .50;
  transition: opacity .4s linear; }

.overlay_white {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1003;
  opacity: .40;
  transition: opacity .4s linear; }

.ellipsis {
  position: relative; }
.ellipsis:before {
  content: '&nbsp;';
  visibility: hidden; }
.ellipsis span,
.ellipsis .text-box {
  position: absolute;
  left: 0;
  right: 5px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.d-none {
  display: none !important; }

.d-block {
  display: block !important; }

.counter-content {
  position: relative;
  background-image: url(../images/bg_filter_counter.png);
  background-size: cover;
  background-position: center center; }

.counter-content:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../images/system.png);
  background-size: 100px auto;
  background-position: center center;
  background-repeat: no-repeat;
  filter: opacity(20%) grayscale(50%);
  z-index: 1; }

.changetab {
  width: 100%;
  display: none; }

.m-auto {
  margin: auto !important; }

#print { display: none; }
.print { display: none; }

/* login & autologout */
#login, #autologout {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 352px;
  height: 340px;
  transform: translate(-50%,-50%);
  padding: 0;
  border: 1px solid #a1a1a1; /* safety */
  border-radius: 10px; }

#login .info, #autologout .info {
  position: absolute;
  top: 105px;
  left: 20px;
  width: 316px;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px; }

#autologout .info {
  top: 100px;
  left: 16px;
  border: 1px solid rgba(115,91,60, .2); /* safety */
  color: #735b14; /* safety */
  background-color: rgba(255,243,205, .5); /* safety */
  padding: 3px; }

#login .data-input, #autologout .data-input {
  position: absolute;
  bottom: 43px;
  width: 330px;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #a1a1a1; /* safety */
  border-radius: 6px; }

#login .input-group, #autologout .input-group {
  margin-bottom: 10px; }

#login .btn {
  padding: 5px 20px; }

#login .footer, #autologout .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 22px;
  padding: 0;
  font-size: 12px;
  word-spacing: 2px;
  text-align: center; }

/*! (sm) Smartphones (landscape) */
@media (max-width: 767.98px) {
  #login, #autologout {top: 0; transform: translateX(-50%);}
}
/*! (xs) Smartphones (portrait) */
@media (max-width: 480px) {
  #login, #autologout {top: 30px; width: 300px; transform: translateX(-50%);}
  #login .info, #autologout .info  {width: 260px;}
  #login .data-input, #autologout .data-input {width: 280px}
  #autologout .info {font-size: 11px;}
}

/* refresh & session box  */
#refresh, .session_change {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 170px;
  margin-left: -160px;
  margin-top: -85px;
  padding: 8px;
  border: 1px solid #a1a1a1; /* safety */
  background-color: #fff; /* safety */
  border-radius: 6px;
  z-index: 1010; }

#refresh .header, .session_change .header {
  width: 100%;
  height: 25px;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  margin: auto;
  margin-bottom: 15px; }

#refresh .indicator {
  float: left;
  width: 80px;
  height: 65px;
  text-align: center; }

#refresh .info, .session_change .info {
  width: auto;
  height: 65px;
  font-size: 11px;
  text-align: left;
  letter-spacing: 0.5px;
  word-spacing: 0.4mm; }

#refresh .c-frame {
  width: 100%;
  height: 45px;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  border: 1px solid #a1a1a1; /* safety */
  border-radius: 4px; }

/* index & archive body */
#body-index, #body-sysinfo {
  color: #000;
  background-color: transparent; }

/* START page header, side, main & footer */
#header-m {
  display: none;
  align-items: center;
  padding: 6px 15px;
  background-color: #fff; /* safety */
  box-shadow: 0 0 2px rgba(0,0,0, .8); } /* safety */

#header-sys {
  display: flex;
  align-items: center;
  padding: 6px 30px;
  background-color: #fff; /* safety */
  box-shadow: 0 0 2px rgba(0,0,0, .8); } /* safety */

#header-m a, #header-sys a {
  text-decoration: none;
  outline: 0; }

#sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  overflow-x: hidden;
  background-color: #fff; /* safety */
  padding: 15px;
  z-index: 1002;}

#sidenav-navlink {
  padding-left: 30px; }

#sidenav-navlink ul,
#sidenav-navlink li {
  list-style: none; }

#sidenav-navlink li a {
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  transition: all 0.5s ease; }

#sidenav-navlink li.active a {
  text-decoration: underline; }

#sidenav-navlink a[class^="active"] {
  text-decoration: underline; }

#sidenav-footer {
  position: inherit;
  right: 15px;
  bottom: 20px;
  left: 15px;
  width: calc(20% - 30px);
  min-width: 250px;
  font-size: 14px;
  padding-top: 10px;
  line-height: 1.8; }

#sidenav-footer .plugin-info {
  padding: 15px 15px;
  margin-bottom: 40px;
  color: white;
  font-weight: bolder;
  line-height: normal;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  background-color: rgba(29,101,144, .7); /* basic #1d6590 */
  /* overlay filter */
  background-image: linear-gradient(90deg, rgba(0,0,0, .2), rgba(0,0,0, .0), rgba(0,0,0, .0), rgba(0,0,0, .2));
  }

#sidenav-footer .plugin-info-button {
  margin: 12px auto 10px auto;
  padding: 8px 12px;
  border: none;
  background: #fe9501; }

#sidenav-footer .plugin-info-button:hover {
  background: white; }

#sidenav-footer span {
  font-size: 9px;
  font-weight: 400; }
  
#main {
  margin-left: calc(20%); /* Same as the width of the sidenav */
  height: 100%;
  padding: 0; }

#main-nav {
  position: sticky;
  top: 0;
  display: flex;
  padding: 15px 40px;
  align-items: center;
  z-index: 1001;
  background-color: #fff; } /* safety */

#main-nav a {
  text-decoration: none;
  outline: 0; }

#main-wrapper {
  max-width: 1100px;
  margin: 30px auto 10px;
  padding: 10px 10px;
  border-radius: 8px;
  border: 1px solid #e6e6e6; } /* safety */

#main-footer {
  height: 37px;
  margin-top: 10px;
  font-size: 11px;
  letter-spacing: 1px;
  border-radius: 8px; }

#archive-main {
  padding: 0; }

#archive-nav {
  position: sticky;
  top: 0;
  display: flex;
  padding: 6px 15px;
  align-items: center;
  background-color: #fff; /* safety */
  box-shadow: 0 0 2px rgba(0,0,0, .8); } /* safety */

#archive-main-wrapper {
  max-width: 960px;
  margin: 10px auto;
  padding: 10px 10px;
  border-radius: 8px;
  border: 1px solid #e6e6e6; } /* safety */

.creator {
  width: 300px; }
/*! () Smartphones (landscape) */
@media (max-width: 575.98px) {
  .creator {width: 22px;}
}

.archive-time-selection {
  margin: 10px;
  text-align: center;
  font-weight: bolder; }

#sys-main-wrapper {
  max-width: 1100px;
  margin: 72px auto 10px;
  padding: 10px 10px;
  border-radius: 8px;
  border: 1px solid #e6e6e6; } /* safety */

#footer-m, #footer-sys {
  display: none;
  align-items: center;
  padding: 6px 0;
  background-color: #fff; /* safety */
  box-shadow: 0 0 2px rgba(0,0,0, .8); } /* safety */

#footer-m .footer-cell {
  display: flex;
  width: 25%;
  height: 40px;
  float: left;
  align-items: center;
  justify-content: center; }

#footer-m .footer-cell a:hover {
  text-decoration: none;
  outline: 0; }

#footer-sys .footer-cell {
  display: flex;
  width: 50%;
  height: 40px;
  float: left;
  align-items: center;
  justify-content: center; }

.brand {
  display: inline-block; }

.brand-inline {
  display: inline;
  float: left; }

.brand-name {
  margin-top: 10px;
  line-height: 24px;
  color: #1d6590; /* safety */
  font-family: "Titillium Web", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px; }

.brand-plus {
  line-height: 14px;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 0.05em; }

.navbtn-logout,
.navico-logout,
.navico-menue,
.navico-tabs,
.navico-refresh,
.navico-info,
.navico-status {
  margin-left: 30px; }

.syslink-stat1,
.syslink-stat2,
.syslink-admin1,
.syslink-admin2,
.syslink-file,
.syslink-counter {
  margin-left: 20px; }

.syslink-stat2,
.syslink-admin2 {
  display: none; }

.info-maintenance, .info-update {
  border: 1px solid #ffeebe; /* safety */
  color: #735b14; /* safety */
  background-color: #fff3cd; /* safety */
  padding: 8px;
  border-radius: 6px; }

/*! (xl) Notebooks, Desktops */
@media (max-width: 1399.98px) {
  #sidenav {width: 280px;}
  #main {margin-left: 280px;}
}
/*! (lg) Tablets, Notebooks */
@media (max-width: 1199.98px) {
  .d-lg-block {display: block !important;}
  .d-lg-none {display: none !important;}
  /* Stat */
  #header-m {display: flex;}
  .brand {}
  .navico-logout {display: none;}
  .info-maintenance {display: none;}
  #sidenav {display: none;}
  #main {margin-top: 62px; margin-left: 0;}
  #main-nav {display: none;}
  /* Sysinfo */
  #header-sys {padding: 6px 15px;}
}
/*! (md) Netbooks & new Smartphones (landscape) */
@media (max-width: 991.98px) {
  .d-md-block {display: block !important;}
  .d-md-none {display: none !important;}
}
@media (max-width: 829.98px) {
  .info-update {display: none;}
}
/*! (sm) Smartphones (landscape) */
@media (max-width: 767.98px) {
  .d-sm-block {display: block !important;}
  .d-sm-none {display: none !important;}
  /* Stat */
  .navbtn-logout {display: none;}
  .navico-logout {display: block;}
  .navico-info {display: none;}
  #main-wrapper {margin: 10px;}
  /* Sysinfo */
  .syslink-file {display: none;}
  .syslink-counter {display: none;}
  #sys-main-wrapper hr {display: none;}
  #sys-main-wrapper {margin-bottom: 51px;}
  #footer-sys {display: block;}
}
/*! (xs) Smartphones (landscape) */
@media (max-width: 575.98px) {
  /* Stat */
  .navico-status {display: none;}
  .navico-refresh {display: none;}
  .navico-tabs {display: none;}
  .navico-menue {margin-left: 0;}
  #main {margin-bottom: 52px;}
  #main-wrapper {margin: 0;}
  #footer-m {display: block;}
  #footer-m .footer-cell .navico-status {display: block;}
  #footer-m .footer-cell .navico-refresh {display: block;}
  #footer-m .footer-cell .navico-tabs {display: block;}
}
/*! (xs) Smartphones (portrait) */
@media (max-width: 480px) {
  .d-xs-block {display: block !important;}
  .d-xs-none {display: none !important;}  
  /* Archive */
  .glyphicon-print {display: none;}
  /* Sysinfo */
  #header-sys .glyphicon {font-size: 26px;}
  #header-sys .glyphicon {top: 4px;}
  .syslink-stat1 {display: none;}
  .syslink-stat2 {display: block; margin-left: 0;}
  .syslink-admin1 {display: none;}
  .syslink-admin2 {display: block; margin-left: 30px;}
  #sys-main-wrapper {margin-top: 61px;}
  #sys-main-wrapper {border-radius:0;}
}

/*! (xs) Smartphones (portrait) */
@media (max-width: 360px) {
  .navico-logout {margin-left: 15px;}
  #main-footer {font-size: 10px;}
}

.popover,
.tabover {
  position: fixed;
  top: 62px;
  right: 20px;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 10px 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  line-break: auto; }

.popover {
  position: absolute; }

.tabover {
  padding: 15px 30px; }
  
.tabover a {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.8; }

.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.popover > .arrow {
  border-width: 11px; }

.popover > .arrow:after {
  content: "";
  border-width: 10px; }

.popover > .arrow {
  top: -10px;
  left: 120px;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25); }

.popover > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: "";
  border-top-width: 0;
  border-bottom-color: #fff; }

/*! (lg) Tablets, Notebooks */
@media (max-width: 1199.98px) {
  .popover > .arrow {left: 144px;}
}
/*! (sm) Smartphones (landscape) */
@media (max-width: 767.98px) {
  .popover > .arrow {left: 198px;}
}
/*! (xs) Smartphones (portrait) */
@media (max-width: 480px) {
  .tabover {position: fixed; top: auto; bottom: 52px;}
}

#popover-index {
  width: 240px;
  margin: 0 auto;
  overflow: auto; }

#popover-index ul {
  list-style-type: none;
  padding: 0; }

#popover-index li img {
  float: left;
  margin: 20px;
  width: 40px;
  height: 40px;
  transition: box-shadow 0.3s ease; }

#popover-index li img:hover {
  padding: 1px; }

#popover-index .title {
  text-align: center;
  padding: 5px 0; }
/* END page header, side, main & footer */

/* grid */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0; }

.col-2, .col-3  {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.col-2 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-3 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }
  
.row .col-2:nth-of-type(1) {
  padding-left: 0; }

.row .col-2:nth-of-type(2) {
  padding-right: 0; }

.row .col-3:nth-of-type(1) {
  padding-left: 0; }

.row .col-3:nth-of-type(3) {
  padding-right: 0; }

/*! (md) Netbooks & new Smartphones (landscape) */
@media (max-width: 991.98px) {
  .col-2, .col-3 {
    padding: 0 10px; }
}

/*! (sm) Smartphones (landscape) */
@media (max-width: 767.98px) {
  .col-2, .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0; }
}

/* module */
.module.overview a {
  text-decoration: underline; }

.module {
  margin: 0 auto;
  text-align: left;
  border-radius: 6px 6px 3px 3px; }

.module-header {
  margin: 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 0.2mm;
  word-spacing: 0.4mm;
  line-height: 13px;
  text-align: left;
  padding: 4px 6px;
  border-radius: 5px 5px 0 0; }

.module-header .module-link {
  float: right;
  margin-left: 8px; }

.module-content {
  padding: 0;
  overflow-x: auto; }

.module-footer {
  font-size: 11px;
  font-weight: bolder;
  text-align: left;
  padding: 2px 6px;
  border-radius: 0 0 2px 2px; }

.module.overview, .module.weekdays, .module.month, .module.browser, .module.resolution, .module.site {
  margin-bottom: 10px; }

/*! (md) Netbooks & new Smartphones (landscape) */
@media (max-width: 991.98px) {
  .module.hour, .module.day, .module.os, .module.searchengines {
  margin-bottom: 10px; }
}

.module-table {
  width: 100%;
  font-size: 11px;
  line-height: 1.2em;
  white-space: nowrap; }

.module-overview-data, .module-data {
  text-align: left;
  padding: 0 0 0 3px; }
/*! (md) Netbooks & new Smartphones (landscape) */
@media (max-width: 991.98px) {
  .module-overview-data, .module-overview-hits {font-size: 14px; padding: 3px 0 3px 3px;}
}

.module-table th {
  text-align: left;
  padding: 2px 3px; }

.module.resolution .module-table td, .module.color .module-table td {
  padding-top: 1px; }
  
.module-overview-hits, .module-hits {
  width: 60px;
  text-align: right;
  padding: 0;
  padding-right: 8px; }

.module-slidebar {
  width: 102px;
  padding: 0; }

.module-percent {
  width: 50px;
  text-align: right;
  padding: 0 3px 0 0; }

.display_max_style {
  color: #c40000; /* safety */
  background-color: rgba(0,0,0, .05); } /* safety */

.display_weekday_6_style {
  color: #dd8888; /* safety */
  font-weight: 700; }

.display_weekday_7_style {
  color: #cc2222; /* safety */
  font-weight: 700; }

a.referer:link, a.referer:visited, a.referer:active {
  color: #0D638A; /* safety */ }

a.referer:hover, a.referer:focus {
  text-decoration: underline; }

/* sysinfo & setup module */
.sys-module {
  border: 1px solid #a1a1a1; /* safety */
  text-align: left;
  border-radius: 3px;
  margin: 0 auto; }

.sys-module-header {
  border-bottom: 2px solid #fff; /* safety */
  margin: 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 0.2mm;
  word-spacing: 0.4mm;
  line-height: 13px;
  text-align: left;
  padding: 4px 6px;
  border-radius: 1px 1px 0 0; }

.sys-module-content {
  padding: 0;
  overflow-x: auto;
  border-radius: 3px; }

/*! (xs) Smartphones (portrait) */
@media (max-width: 480px) {
  .sys-module.script-info, .sys-module.file-check, .sys-module.server-info, .sys-module.plugin-info {
  margin-bottom: 10px; }
}

.sys-table {
  width: 100%;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 20px;
  white-space: nowrap;
  border-collapse: separate; }

.sys-table th {
  border-bottom: 1px solid #a1a1a1; /* safety */
  padding: 0 3px; }

.sys-table th.bb {
  border-top: 1px solid #a1a1a1; } /* safety */

.sys-info {
  border-right: 1px solid #ddd; /* safety */
  border-bottom: 1px solid #ddd; /* safety */
  text-align: left;
  padding: 0 3px; }

.sys-result {
  border-bottom: 1px solid #ddd; /* safety */
  padding: 0 3px; }

.sys-table tr:last-child > td:first-child {
  border-radius: 0 0 0 4px; }
  
.sys-table tr:last-child > td:last-child {
  border-radius: 0 0 4px 0; }

/* plugin styles */
div.security-info            {text-align:center; font-size:16px; margin:auto; padding-top:50px;}
div.security-info .title     {display:table; font-size:18px; padding:10px 40px; margin:0 auto 30px;}
div.security-info .reason    {display:table; text-align:left; font-size:14px; margin:20px auto;}
div.security-info .reason h5 {font-weight:bolder;}

table.plugin {margin:auto; font-size:12px; box-shadow: 0px 0px 8px rgba(0,0,0,0.4);}
table.plugin th {text-align:left; font-size:14px; padding:4px 10px; border:solid; border-width:1px 0 3px;}
table.plugin td.a,
table.plugin td.b,
table.plugin td.c {text-align:left; vertical-align:top; padding:4px 10px; border:solid; border-width:0 0 1px 0;}
table.plugin td.f,
table.plugin td.h,
table.plugin td.h-a,
table.plugin td.h-b,
table.plugin th.h,
table.plugin th.h-a,
table.plugin th.h-b {text-align:left; font-size:14px; font-weight:bolder; padding:4px 10px; border:solid; border-width:1px 0 3px;}
/* END php web stat */